body{
    background-color: #1A1A1A;
    background-size: cover;
}

header{
color: aliceblue;

}
nav {
    background: linear-gradient(to right,#7b4850,#996515);
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    color: rgb(85, 30, 30);
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #373018;
}




.texto{
  /* Fuente tipo manuscrita pero legible */
  font-family: 'Pacifico', cursive;
  font-size: 100px;
  
  color:#4e381d; 
  
  display: inline-block;
  line-height: 1;
  
  /* sombra */
  text-shadow: 2px 2px 0px hsl(0, 17%, 88%); 
  
  transition: transform 0.3s ease;
}

/* Ajuste para Desktop View 1024px */
@media (min-width: 1024px) {
  .texto {
    font-size: 180px; /* Más grande en computadoras */
  }
  
}



.header {
  background-color: #1A1A1A; /* Fondo negro */
  padding: 20px;
}

/* El logo */
.logo {
  width: 200px;
  transition: 0.5s;
  border-radius: 50%;
}

/* Cuando la pantalla llega a 1024px */
@media (min-width: 1024px) {
  .logo {
    width: 350px;    /* Se hace más grande en PC */
    opacity: 0.7;    /* Se desvanece un poco */
  }
}

.events{
  background-color: #1A1A1A;
  color: aliceblue;
  
}

  
    



table {
  width: 100%;
  border-collapse: collapse; /* Une los bordes */
  width: 185vh;           /* Ancho de la caja */
    height: 200px;          /* Alto de la caja */
    background-color: #1A1A1A; /* Color de fondo */
    border: 2px solid #1A1A1A; /* Borde opcional */
    border-radius: 8px;     /* Bordes redondeados opcionales */

}
th, td {
  border: 1px solid rgb(124, 82, 27);
  padding: 8px;
  text-align: left;
  color: aliceblue;
}

.btn{
  display: inline-block;
    padding: 10px 15px;
    background: linear-gradient(135deg, #583823, #4e260d);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.hero{
  
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)),url(portada.webp);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}